*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: 'Roboto';

}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    
}

main{

    height: 100%;
    background: #7B6079;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.excuse{
    color: white;
    font-size: 6rem;
    margin-bottom: 50px;
}

.bracket{   
    font-size: 12rem;
    color: #DE8971;
}

.b1::before{
    overflow-x: hidden;
    content: '';
    display: block;
    background: url("./img/left-quote.png") no-repeat center center/cover;
    position: relative;
    top:10px;
    left:-100px;
    width: 100PX;
    height: 100PX;
}
.b2::after{
    overflow-x: hidden;
    content: '';
    display: block;
    background: url("./img/quotation.png") no-repeat center center/cover;
    position: relative;
    top:20px;
    left: 99%;
    width: 100PX;
    height: 100PX;
}

.main-phrase{
    color: #FFE9D6;
}

.changeExcuseBTN{
    width: 250px;
    padding: 20px 0;

    border-radius: 10px;
    border: none;
    outline: none;

    background: linear-gradient(45deg, rgba(246,101,22,1) 0%, rgba(255,0,138,1) 100%);
    text-shadow: #474747 0px 1px 0px, 1px 2px 2px rgba(206,89,55,0);
    color: white;
    font-size: 23px;
    font-weight: bold;

    cursor: pointer;
    transition: box-shadow .2s ease;
}

.changeExcuseBTN:hover{
    box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.36);
}